# gradle

.gradle/
build/
out/
classes/

# idea

## gradle
gradlew*
gradle
.gradle
build
run



##idea
*.iml
*.ipr
*.iws

## Jars
*.jar

### OSX (adds a lot of garbage)###
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

#stuff
#config
logs
.html
discarded textures
*.nps
/.apt_generated/
notes.txt
*.csv
.mixin.out/audit/mixin_implementation_report.txt

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/

# eclipse
*.launch
